<ng-container>
    <div class="d-flex row">

        <div *ngFor="let product of products" class="col-xs-12 col-md-6 col-lg-4 p-2">
            <mat-card >
                <img mat-card-image src="{{product.image}}"
                alt="{{product.name}}" 
                class = "game-image"
                >
                <mat-card-title>{{product.name}}</mat-card-title>
                <mat-card-content >
                    <div class = "line-clamp">
                        {{product.description}}
                    </div>
                </mat-card-content>
                <mat-card-actions class = "d-flex">
                    <button mat-raised-button color="accent">  See details</button>
                    <button mat-raised-button color="primary">Add To Cart</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</ng-container>