<mat-toolbar color="primary">
   

        <mat-toolbar-row >
            <button mat-flat-button color="primary">Element Games</button>
            <span class="spacer"></span>
            
            <div class= "d-none d-lg-block">

                <button mat-flat-button color="primary">Register</button>
                <button mat-flat-button color="primary">Login </button>
            </div>

           
                <button mat-icon-button  aria-label="Menu" class="d-lg-none">
                    <mat-icon>menu</mat-icon>
                </button>
               
        </mat-toolbar-row>
    
</mat-toolbar>